<section>
  <div cdkDropList class="quizBank" (cdkDropListDropped)="drop($event)">
    <div
      class="quizBox"
      *ngFor="let question of questions.controls; let i = index"
      cdkDrag
      (click)="selectQuestion(i)"
    >
      <mat-label class="questionTitle"> Question {{ i + 1 }}</mat-label>
    </div>
  </div>
</section>

<section>
  <div class="button">
    <button mat-raised-button color="primary" (click)="onAddQuestion()">
      Add a Question
    </button>
  </div>
  <div class="button">
    <button mat-raised-button>QuizBank</button>
  </div>
  <div class="button">
    <button mat-raised-button>Import Spreadsheet</button>
  </div>
</section>
