.navbar {
  display: grid;
  grid-template-areas: 'col1 col2 col3 col4 col5';
  grid-template-columns: 40px 50px auto 80px 80px;
}

.title {
  grid-area: col3;
  justify-self: center;
}
.signup {
  grid-area: col4;
}
.login {
  grid-area: col5;
  margin-left: 10px;
}
