<mat-toolbar class="navbar">
  <h2>Kahoot Clone!</h2>
  <div class="nav-buttons">
    <ng-container *ngIf="currentUser | async; else loggedIn">
      <button
        e2e="logout-button"
        mat-raised-button
        color="primary"
        (click)="logout()"
      >
        Logout
      </button>
      <button mat-raised-button color="primary" routerLink="/quiz">
        Create
      </button>
    </ng-container>
    <ng-template #loggedIn>
      <a
        e2e="login-button"
        mat-raised-button
        color="primary"
        routerLink="/login"
        >Login!</a
      >
      <a
        e2e="signup-button"
        mat-raised-button
        color="primary"
        routerLink="/signup"
        >Sign Up!</a
      >
    </ng-template>
  </div>
</mat-toolbar>
