#questionInput {
  width: 100%;
  height: 100%;
  padding: none;
  margin: none;
}

.answers {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.questionForm {
  display: grid;
  width: 100%;
  height: 750px;
  grid-template-areas:
    'head head head'
    'row3 main empty'
    'nav  main empty'
    'nav2 main empty';
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 50% 25%;
}

.questionForm > .questionInput {
  grid-area: head;
}

.questionForm .questionImage {
  grid-area: main;
}

.questionForm > .timeLimit {
  grid-area: row3;
}

.questionForm > .answerOptions {
  grid-area: nav2;
}

.questionForm > .points {
  grid-area: nav;
}

.questionInputForm {
  width: 100%;
}
