<mat-card>
  <mat-card-content>
    <form [formGroup]="questionForm">
      <div class="questionForm">
        <div class="questionInput">
          <mat-form-field class="questionInputForm">
            <mat-label>Click to start typing your question </mat-label>
            <input matInput formControlName="question" required />
          </mat-form-field>
        </div>
        <div class="timeLimit">
          <mat-form-field>
            <mat-label>Time Limit</mat-label>
            <mat-select formControlName="timeLimit" required>
              <mat-option [value]="time" *ngFor="let time of times"
                >{{ time }} Seconds</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="points">
          <mat-label>Points</mat-label>
          <mat-slider min="0" max="2000" step="1000" formControlName="points">
          </mat-slider>
          {{ points.value }}
        </div>

        <div class="answerOptions">
          <mat-form-field>
            <mat-label>Answer Options</mat-label>
            <mat-select formControlName="answerOptions" required>
              <mat-option value="single">
                Single select
              </mat-option>
              <mat-option value="multi">
                Multi select
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="questionImage">
          <mat-form-field>
            <mat-label>Image:</mat-label>
            <input matInput formControlName="image" />
          </mat-form-field>
        </div>
      </div>

      <div class="answers" formArrayName="answers">
        <div *ngFor="let answer of answers.controls; let i = index">
          <ng-container [formGroupName]="i">
            {{ answer.value.shape }}
            <mat-form-field>
              <input
                matInput
                formControlName="answer"
                placeholder="answer"
                required
              />
            </mat-form-field>
            <mat-icon placeholder="image">wallpaper</mat-icon>
            {{ answer.value.image }}
            <mat-slide-toggle formControlName="isCorrect"></mat-slide-toggle>
          </ng-container>
        </div>
      </div>
      <button (click)="onSubmit()" mat-raised-button color="primary">
        Submit
      </button>
    </form>

    <div>
      {{ questionForm.value.question }}
    </div>
  </mat-card-content>
</mat-card>
