@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$color-white: #fff;
$color-secondary: rgb(242, 242, 242);
$color-tertiary: #b2b2b2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #d3d3d3;
}
