<div class="quiz-bank">
  <mat-card *ngFor="let question of questions" class="question-card">
    <mat-card-content>
      <div class="question-name">
        <ng-container *ngIf="question.value; else placeholderText">{{
          question.value
        }}</ng-container>
        <ng-template #placeholderText>Type your question</ng-template>
      </div>
      <div class="container">
        <div class="time-limit">
          <span>{{ question.timeLimit }}</span>
        </div>
        <div class="bkg-image">
          <img
            *ngIf="question.image"
            [src]="question.image"
            alt="Question Photo"
          />
          <span *ngIf="!question.image" class="material-icons">
            wallpaper
          </span>
        </div>
      </div>
      <div class="questions">
        <div class="question"></div>
        <div class="question"></div>
        <div class="question"></div>
        <div class="question"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<button
  class="add-question-btn"
  mat-raised-button
  color="primary"
  (click)="addQuestion()"
>
  Add question
</button>
<button class="spreadsheet-btn" mat-raised-button color="secondary">
  Import spreadsheet
</button>
