<mat-card>
  <mat-card-header>
    <mat-card-title>
      Login
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
      <button
        [disabled]="!loginForm.valid"
        (click)="onSubmit()"
        mat-raised-button
        color="primary"
      >
        Submit
      </button>
    </form>
    <h4>Don't have an account?</h4>
    <a href="">Sign up here!</a>
  </mat-card-content>
</mat-card>
